.body {
  background-color: #fafafa;
  font-family: Arial;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.header__container {
  display: flex;
  max-width: 933px;
  margin: 0 auto;
}

.logo {
  margin-top: 15px;
}

.current-user {
  margin-left: auto;
  padding: 15px 0 16px;
  display: flex;
  align-items: center;
}

.current-user__username {
  color: #262626;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 12px;
}

.current-user__avatar {
  height: 22px;
  width: 22px;
  background-color: #dbdbdb;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.contents_container {
  display: flex;
  width: 933px;
  height: 598px;
  border: 1px solid #dbdbdb;
  margin: 20px auto 0 auto;
}

.post-image {
  width: 598px;
  height: 598px;
}

.post_comments {
  width: 334px;
  height: 598px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dbdbdb;
}

.author {
  display: flex;
  width: 334px;
  height: 73px;
  border-bottom: 1px solid #dbdbdb;
}

.author_contents {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.author_name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 19px;
}

.author_location {
  font-size: 12px;
  margin-top: 2px;
}

.comments_container {
  width: 334px;
  height: 524px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
}

.author_avatar {
  width: 32px;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin: 20px 0 0 16px;
  background-size: contain;
}

.comment_container {
  width: 253px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  padding-top: 16px;
}

.user_comment {
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 32px;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 16px;
}

.username {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.hour {
  font-size: 14px;
  color: #8e8e8e;
}

.info {
  display: flex;
  flex-direction: column;
}

.quantity {
  margin: 13px 0 2px 16px;
  font-weight: bold;
  font-size: 14px;
}

.date {
  font-size: 10px;
  line-height: 18px;
  color: #8e8e8e;
  margin-left: 16px;
}

.message {
  height: 117px;
  border-top: 1px solid #dbdbdb;
}

.message_input {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
}

input.comment {
  width: 100%;
  margin: 10px;
  border: none;
  font-size: 14px;
  background-color: transparent;
}

input.comment:focus {
  outline: none;
}

button.send {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #0095f6;
}
