.body {
  background-color: #FAFAFA;
  font-family: Arial;
}

.header {
  background-color: #FFF;
  border-bottom: 1px solid #DBDBDB;
}

.header__container {
  display: flex;
  width: 933px;
  height: 54px;
  margin: 0 auto;
}

.taggram {
  margin: 15px 0;
  width: 82px;
  height: 29px;
}

.current-user {
  margin-left: auto;
  padding: 15px 0 16px;
  display: flex;
  align-items: center;
}

.current-user__username {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  margin: 17px 12px 19px 0;
  font-weight: normal;
}

.current-user__avatar {
  height: 22px;
  width: 22px;
  background-color: #DBDBDB;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.post {
  width: 598px;
  height: 598px;
}

.post_container {
  width: 933px;
  height: 598px;
  margin: 20px auto 104px auto;
  background-color: white;
  border: 1px solid #DBDBDB;
  display: flex;
}

.container {
  width: 335px;
  height: 598px;
  display: flex;
  flex-direction: column;
}

.author_container {
  width: 334px;
  height: 73px;
  align-items: flex-start;
  border-bottom: 1px solid #DBDBDB;
  display: flex;
}

.author_avatar {
  width: 32px;
  height: 32px;
  margin: 20px 16px 21px 16px;
}

.author_username {
  height: 18px;
  margin-top: 19px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.author_location {
  height: 15px;
  padding-top: 39px;
  margin-left: -35px;
  font-size: 12px;
  line-height: 15px;
}

.comments_container {
  width: 335px;
  height: 525px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.comments_container h3 {
  font-weight: bold;
  line-height: 18px;
}

.first_user_avatar {
  margin-top: 16px;
}

.first_user_avatar, .second_user_avatar, .third_user_avatar, .fourth_user_avatar, .fifth_user_avatar {
  width: 32px;
  height: 32px;
  margin-left: 17px;
}

.username_one, .username_two, .username_three, .username_four, .username_five {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  height: 14px;
}

.first_comment_container, .second_comment_container, .third_comment_container, .fourth_comment_container, .fifth_comment_container {
  width: 253px;
  height: auto;
  display: flex;
  margin-left: 18px;
  flex-direction: row;
}

.first_comment_container {
  margin-top: 16px;
}