<!DOCTYPE html>
<html>
  <head>
    <title>Taggram</title>

    <!-- O normalize ajuda a reduzir a diferença de estilo entre os navegadores -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />

    <link rel="stylesheet" type="text/css" href="../style/style.css" />

    <script src="../assets/index.js"></script>
  </head>

  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="logo" id="logo">
          <img src="../img/Taggram_logo/Taggram.png" alt="" />
        </div>
        <div class="current-user">
          <div class="current-user__username" id="current-user-username"></div>
          <div class="current-user__avatar" id="current-user-avatar"></div>
        </div>
      </div>
    </header>
    <div class="contents_container">
      <div class="post-image" id="post-image"></div>
      <div class="post_comments" id="post_comments">
        <div class="author" id="author">
          <div class="author_avatar" id="author_avatar"></div>
          <div class="author_contents">
            <div class="author_name" id="author_name"></div>
            <div class="author_location" id="author_location"></div>
          </div>
        </div>

        <div class="comments_container" id="comments_container"></div>

        <div class="message">
          <div class="info">
            <div class="quantity" id="quantity"></div>
            <div class="date" id="date"></div>
          </div>
          <div class="message_input">
            <input
              placeholder="Send a message..."
              class="comment"
              id="message"
              name="comment"
              type="text"
            />
            <button class="send" id="send" onclick="sendMessage();">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
